.footer {
    background-color: #fafafa;
    color: #999;
    padding: 30px 0 15px;

    .container {
        padding: 0 15px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid #d5d2d2;

        // На iPhone 8 (375px)
        @media (max-width: 767px) {
            flex-direction: column;
        }

        // На планшетах (≥768px)
        @media (min-width: 768px) and (max-width: 991px) {
            flex-direction: column;
        }

        // На десктопе (≥992px)
        @media (min-width: 992px) {
            flex-direction: row;
        }

        &__text {
            h3 {
                font-family: "Nexa", sans-serif;
                color: #444f60;
                font-size: 25.2px;
                font-weight: bolder;
            }
        }

        &__action {

            // На iPhone 8 (375px)
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }

            // На планшетах (≥768px)
            @media (min-width: 768px) and (max-width: 991px) {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }

            // На десктопе (≥992px)
            @media (min-width: 992px) {
                display: flex;
                flex-direction: row;
            }

            .btn {
                padding: 8px 40px;
                margin-right: 0px;
                max-height: 39.5px;
            }

            .btn-outline-primary {
                color: #8c8cf9;
                border: none;
                padding: 8px 20px;
                max-height: 39.5px;
            }
        }
    }

    &__body {
        padding-top: 30px;

        .columns-description {
            width: 33.3%;
            margin-bottom: 40px;

            // На iPhone 8 (375px)
            @media (max-width: 767px) {
                width: 100%;
            }

            // На планшетах (≥768px)
            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
            }

            // На десктопе (≥992px)
            @media (min-width: 992px) {
                width: 33.3%;
            }

            .small-footer-logo {
                height: 24px;
                max-width: 100%;
            }

            .footer-description {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .moto {
                .icon-heart {
                    color: red;
                }
            }

            .social-links {
                .icon {
                    color: #999;
                    margin-right: 5px;
                }
            }
        }
    }

    &__column {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 40px;

        .column-header {
            color: #444f60;
            font-family: "Nexa", sans-serif;
            font-weight: 400;
        }

        .column-item {

            padding-top: 5px;
            padding-bottom: 5px;

            a {
                color: #999;
            }
        }
    }


    &__copyright {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        padding-top: 80px;

        a {
            text-decoration: none;
            color: #999;
        }
    }


}