.footer {
    background-color: #fafafa;
    color: #999;
    padding: 30px 0 15px;

    .container {
        padding: 0 15px;
    }

    &__head {
        display: flex;
        justify-content: space-between;

        &__text{
            h3{
               font-family: "NexaText Thin", "NexaText-Trial-Thin", sans-serif;
               color: #000;
            }
        }
    }





    &__copyright {
        text-align: center;
        font-size: 14px;
        font-weight: 400;

        a {
            text-decoration: none;
            color: #999;
        }
    }


}