body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 12px 40px;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #8c8cf9;
    color: #fff;
    border-color: #8c8cf9;
    margin-right: 2.8px;

    &:hover {
        background-color: #8c8cf9;
        color: #fff;
        border-color: #8c8cf9;
    }
}

.btn-outline-primary {
    background-color: #fff;
    color: #363636;
    border-color: #dbdbdb;

    &:hover {
        background-color: #fff;
        color: #363636;
        border-color: #b3b0b0;
    }
}

.title {
    color: #444f60;
    font-size: 45.5px;
    margin-bottom: 16px;

    &--center {
        text-align: center;
    }

    &--main {
        font-size: 56px;
    }
}

.margin-left-195 {
    margin-left: 195.5px;
}


a {
    text-decoration: none;
}

.logo {
    max-width: 30px;
    margin-right: 10px;
    padding-bottom: 21px;


    &__left {
        color: #334258;
        font-family: "Bebas Neue";
        font-weight: bolder;
        font-size: 39px;
    }

    &__rigth {
        color: #8c8cf9;
        margin-right: 10px;
    }
}