body {
    font-family: 'Roboto', sans-serif;
}

h1 , h2 {
    font-family: "Nexa", sans-serif;
    font-weight: bold;
}

.btn {
    padding: 12px 40px;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #8c8cf9;
    color: #fff;
    border-color: #8c8cf9;
    margin-right: 2.8px;

    @media (max-width: 992px) {
        margin-bottom: 10px;
    }


    &:hover {
        background-color: #8c8cf9;
        color: #fff;
        border-color: #8c8cf9;
    }
}

.btn-outline-primary {
    background-color: #fff;
    color: #363636;
    border-color: #dbdbdb;

    &:hover {
        background-color: #fff;
        color: #363636;
        border-color: #b3b0b0;
    }
}


.btn-outline-open {
        padding: 8px 12px;
        border: none;
        color: #8c8cf9;
        background-color: #fff;

        &:hover {
            background-color: #e9e8e8;
        }
    }


.title {
    color: #444f60;
    font-size: 45.5px;
    margin-bottom: 16px;

    &__center {
        text-align: center;
    }

    &__main {
        font-size: 56px;
    }
}

a {
    text-decoration: none;
}

p {
    color: #999;
}

.logo__img {
    max-width: 30px;
    margin-right: 10px;
    padding-bottom: 21px;
}

.logo__left {
    color: #334258;
    font-family: "Bebas Neue";
    font-weight: bolder;
    font-size: 39px;
}

.logo__rigth {
    color: #8c8cf9;
    margin-right: 10px;
}

.page-column {
    width: 33.3%;
    margin-top: 70px;
}

/* 1192px и меньше */
@media (max-width: 1192px) {
    .page-column {
        width: 100%;
    }
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}