.meet {
    p {
        color: #999;
    }

    img {
        max-height: 500px;
        width: auto;
        margin: 0 auto;

        // На iPhone 8 (375px)
        @media (max-width: 767px) {
            max-height: 385px;
            width: auto;
            margin: 0 auto;
        }
    }

    &__action {
        /* 992px и меньше */
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
        }

    }


    .page-column {
        width: 33.3%;
        margin-top: 70px;
    }

    /* 1192px и меньше */
    @media (max-width: 1192px) {
        .page-column {
            width: 100%;
        }
    }
}