.meet {
    img {
        max-height: 500px;
        width: auto;
        margin: 0 auto;

        // На iPhone 8 (375px)
        @media (max-width: 767px) {
            max-height: 385px;
            width: auto;
            margin: 0 auto;
        }
    }

    &__action {

        /* 992px и меньше */
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
        }

    }
}

.logos {
    &__action {
        display: flex;
        justify-content: center; // горизонтальное центрирование
        align-items: center; // вертикальное центрирование
        flex-wrap: wrap; // перенос на новые строки
        gap: 20px; // отступы между элементами

        img {
            height: 70px;
            max-width: 100%;
            object-fit: contain; // сохраняет пропорции изображений
        }
    }
}

.name {
    .row {
        margin-left: 70px;

        @media (max-width: 1192px) {
            margin-left: 0; // обнуляем отступ
        }
    }
}

.incredible {
    img {
        max-height: 500px;
        width: auto;
        margin: 0 auto;

        // На iPhone 8 (375px)
        @media (max-width: 767px) {
            max-height: 285px;
            width: auto;
            margin: 0 auto;
        }
    }

}

.robust {

    .row {
        margin-left: 70px;

        @media (max-width: 1192px) {
            margin-left: 0; // обнуляем отступ
        }
    }

    img {
        max-height: 500px;
        width: auto;
        margin: 0 auto;

        // На iPhone 8 (375px)
        @media (max-width: 767px) {
            max-height: 285px;
            width: auto;
            margin: 0 auto;
        }
    }

}